<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyAnhVienAoCuoi.Properties.Settings.QuanLyAnhVienAoCuoiConnectionString"
            connectionString="Data Source=LAPTOP-NALUFR0D;Initial Catalog=QuanLyAnhVienAoCuoi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>